In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather_report.csv')

In [3]:
def f(x):return None if x=='None' else x

In [4]:
l=df.columns

In [5]:
for i in df.columns:df[i]=df[i].apply(f)

In [6]:
x=df[df[l[0]].notnull()]

In [7]:
index_column = x.index.tolist()

In [8]:
n=[i for i in index_column if i%2==0]

In [55]:
try:
    l=[df['PM2.5'].iloc[i] for i in n]
except IndexError:
    print(i)

In [52]:
l=[float(i) for i in l]
l,len(l)

([99.25,
  71.49,
  73.29,
  56.17,
  77.11,
  69.68,
  67.76,
  74.87,
  75.51,
  57.45,
  65.67,
  21.44,
  22.35,
  10.72,
  28.67,
  32.01,
  31.06,
  22.01,
  36.38,
  43.51,
  18.24,
  45.4,
  392.29,
  33.24,
  20.1,
  9.19,
  20.78,
  30.77,
  504.2,
  196.86,
  459.25,
  55.02,
  37.65,
  18.45,
  13.18,
  27.36,
  39.96,
  48.3,
  35.56,
  39.48,
  15.08,
  12.8,
  17.18,
  21.63,
  15.35,
  13.96,
  12.7,
  14.16,
  9.36,
  9.01,
  25.89,
  19.82,
  17.59,
  7.9,
  4.75,
  20.87,
  45.56,
  45.42,
  45.75,
  46.21,
  46.23,
  45.53,
  46.1,
  46.36,
  24.93,
  23.2,
  23.53,
  15.1,
  18.3,
  21.14,
  22.53,
  27.56,
  25.06,
  19.05,
  65.08,
  11.86,
  32.25,
  25.32,
  17.33,
  28.68,
  30.78,
  0.88,
  24.62,
  38.36,
  31.38,
  69.36,
  18.82,
  36.7,
  42.28,
  28.71,
  40.63,
  20.65,
  24.62,
  22.62,
  17.86,
  25.61,
  29.19,
  28.4,
  26.53,
  21.52,
  16.8,
  22.2,
  19.03,
  24.96,
  15.43,
  14.83,
  18.14,
  34.46,
  32.76,
  37.01,
  29.08,
  34.56,
  38.04,
  27.45,
  29.06,
  31.88,
  29.53,
  43.07,
  25.2,
  30.44,
  26.39,
  26.92,
  34.84,
  56.93,
  33.5,
  19.9,
  30.87,
  24.49,
  40.93,
  30.74,
  23.88,
  25.81,
  22.49,
  21.62,
  21.53,
  24.11,
  54.36,
  61.11,
  40.26,
  56.2,
  118.02,
  72.66,
  14.86,
  32.42,
  73.61,
  102.9,
  119.88,
  101.0,
  60.51,
  38.3,
  24.33,
  63.17,
  38.48,
  21.94,
  67.98,
  50.49,
  30.16,
  15.51,
  42.54,
  24.51,
  62.99,
  33.64,
  18.01,
  43.31,
  38.86,
  39.38,
  44.05,
  46.61,
  76.85,
  56.23,
  38.79,
  37.1,
  65.57,
  43.9,
  39.04,
  35.73,
  24.21,
  39.67,
  43.4,
  52.92,
  114.04,
  26.45,
  24.73,
  35.1,
  48.57,
  56.81,
  48.53,
  54.02,
  41.29,
  42.71,
  32.92,
  38.26,
  38.85,
  35.21,
  38.65,
  46.15,
  66.12,
  34.76,
  47.15,
  46.3,
  31.21,
  45.34,
  40.24,
  46.47,
  41.66,
  44.11,
  25.62,
  15.7,
  23.42,
  23.98,
  33.78,
  30.05,
  31.67,
  31.11,
  27.65,
  22.15,
  32.29,
  28.16,
  22.58,
  24.1,
  26.49,
  17.38,
  9.3,
  14.2,
  17.33,
  16.39,
  14.29,
  9.21,
  7.22,
  8.56,
  7.58,
  10.21,
  9.93,
  9.86,
  10.7,
  12.88,
  57.75,
  13.77,
  8.78,
  7.61,
  43.97,
  11.76,
  3.96,
  25.62,
  17.82,
  16.45,
  12.59,
  13.84,
  41.11,
  13.35,
  11.25,
  10.31,
  90.76,
  24.0,
  18.74,
  353.2,
  17.2,
  22.17,
  15.99,
  275.82,
  17.65,
  37.32,
  16.12,
  14.11,
  13.69,
  20.89,
  8.83,
  17.74,
  19.94,
  16.9,
  11.96,
  24.17,
  24.07,
  26.98,
  39.97,
  38.85,
  57.05,
  49.11,
  29.63,
  29.71,
  11.66,
  11.47,
  12.3,
  13.49,
  24.96,
  27.08,
  23.71,
  15.7,
  22.45,
  26.15,
  26.91,
  30.24,
  28.21,
  26.17,
  28.76,
  20.91,
  58.97,
  21.76,
  32.38,
  39.56,
  39.5,
  23.85,
  17.31,
  24.78,
  36.16,
  29.61,
  29.1,
  36.2,
  33.65,
  70.48,
  9.26,
  26.85,
  18.29,
  35.4,
  23.04,
  31.2,
  16.27,
  19.04,
  16.9,
  25.61,
  28.79,
  23.54,
  34.14,
  64.92,
  36.42,
  57.04,
  70.3,
  43.31,
  25.95,
  18.55,
  54.12,
  57.23,
  25.29,
  42.13,
  34.51,
  16.91,
  21.01,
  25.31,
  30.84,
  21.01,
  26.44,
  16.72,
  9.14,
  7.66,
  20.84,
  30.81,
  44.25,
  30.4,
  42.22,
  44.6,
  48.6,
  65.72,
  49.41,
  24.22,
  20.47,
  19.56,
  14.11,
  9.13,
  21.89,
  53.3,
  48.36,
  62.58,
  55.13,
  73.34,
  78.54,
  21.65,
  27.12,
  31.23,
  47.09,
  35.83,
  45.04,
  45.02,
  60.59,
  98.21,
  62.94,
  37.87,
  41.65,
  40.52,
  61.99,
  59.61,
  13.75,
  57.12,
  42.67,
  27.6,
  25.36,
  55.96,
  38.6,
  95.47,
  61.83,
  14.39,
  86.69,
  28.99,
  30.39,
  40.26,
  39.76,
  41.07,
  52.85,
  39.97,
  31.27,
  44.96,
  35.62,
  41.82,
  20.95,
  13.82,
  38.94,
  17.94,
  31.8,
  23.25,
  29.07,
  34.19,
  35.72,
  24.1,
  9.83,
  15.28,
  13.09,
  13.39,
  9.95,
  13.22,
  14.61,
  13.15,
  18.74,
  16.78,
  19.28,
  25.23,
  24.75,
  29.76,
  23.15,
  20.3,
  20.39,
  16.08,
  21.21,
  24.22,
  27.6,
  12.67,
  25.77,
  44.83,
  50.73,
  41.34,
  46.41,
  39.01,
  20.43,
  30.51,
  21.97,
  23.12,
  16.92,
  23.79,
  17.22,
  15.84,
  34.01,
  16.44,
  15.91,
  20.78,
  26.23,
  29.7,
  23.98,
  23.14,
  30.77,
  25.89,
  24.13,
  25.85,
  27.57,
  27.91,
  14.08,
  25.3,
  30.07,
  36.04,
  27.93,
  24.87,
  24.85,
  31.8,
  26.69,
  17.07,
  21.57,
  36.94,
  22.06,
  24.0,
  20.96,
  24.23,
  25.12,
  24.12,
  28.64,
  35.23,
  27.39,
  25.57,
  33.23,
  30.08,
  23.07,
  34.21,
  17.84,
  9.47,
  11.65,
  18.51,
  17.89,
  28.13,
  41.11,
  32.72,
  19.15,
  38.76,
  61.97,
  53.9,
  21.22,
  15.69,
  56.5,
  17.48,
  43.58,
  31.31,
  10.25,
  16.08,
  16.25,
  8.33,
  10.02,
  14.0,
  16.07,
  11.5,
  7.37,
  13.6,
  26.18,
  22.05,
  32.54,
  17.11,
  19.73,
  11.0,
  21.16,
  36.14,
  32.98,
  28.64,
  30.32,
  28.59,
  47.39,
  36.62,
  34.38,
  26.55,
  40.05,
  44.18,
  27.35,
  17.24,
  24.56,
  30.82,
  15.92,
  15.84,
  45.71,
  45.91,
  33.43,
  32.97,
  23.67,
  66.91,
  41.77,
  29.19,
  33.15,
  42.83,
  47.52,
  36.8,
  44.73,
  43.62,
  34.65,
  55.82,
  31.31,
  31.99,
  38.45,
  34.36,
  40.45,
  43.04,
  30.03,
  43.63,
  43.97,
  40.83,
  47.81,
  52.71,
  37.35,
  38.52,
  44.96,
  36.44,
  30.62,
  21.92,
  21.68,
  19.22,
  17.23,
  13.73,
  23.1,
  14.8,
  16.63,
  14.67,
  15.93,
  16.07,
  19.08,
  24.07,
  30.68,
  34.42,
  38.51,
  50.18,
  32.76,
  24.05,
  21.72,
  24.44,
  20.06,
  32.17,
  26.04,
  32.97,
  29.37,
  33.26,
  36.19,
  41.51,
  64.31,
  38.09,
  31.82,
  36.43,
  39.71,
  28.07,
  21.97,
  18.54,
  126.77,
  28.93,
  12.88,
  16.65,
  17.04,
  27.45,
  20.94,
  2.12,
  2.09,
  35.01,
  48.94,
  18.54,
  43.9,
  31.46,
  41.02,
  21.24,
  17.2,
  17.06,
  12.13,
  10.97,
  37.76,
  19.37,
  12.65,
  5.35,
  14.78,
  17.07,
  10.84,
  12.7,
  4.51,
  7.56,
  16.49,
  17.25,
  14.63,
  27.89,
  43.15,
  205.66,
  9.24,
  27.82,
  33.06,
  30.69,
  42.24,
  41.62,
  67.5,
  62.56,
  34.59,
  54.69,
  49.3,
  42.19,
  49.74,
  50.46,
  39.23,
  35.5,
  54.38,
  52.7,
  69.19,
  34.18,
  57.27,
  35.98,
  26.77,
  44.61,
  42.19,
  90.29,
  109.81,
  108.93,
  41.02,
  73.08,
  24.22,
  26.47,
  28.27,
  56.41,
  15.29,
  11.94,
  1.93,
  12.88,
  76.86,
  2.17,
  32.5,
  45.59,
  75.67,
  88.31,
  117.84,
  83.41,
  41.87,
  104.66,
  147.21,
  65.87,
  39.31,
  36.4,
  68.08,
  110.47,
  70.12,
  87.81,
  125.75,
  17.91,
  36.09,
  50.93,
  57.9,
  65.24,
  79.24,
  76.7,
  127.73,
  96.46,
  77.58,
  127.89,
  59.98,
  74.09,
  96.77,
  86.27,
  57.91,
  117.87,
  103.19,
  70.51,
  82.07,
  70.24,
  72.18,
  70.43,
  80.49,
  92.06,
  104.9,
  93.04,
  103.02,
  79.49,
  87.78,
  80.82,
  66.7,
  69.76,
  62.91,
  89.56,
  70.39,
  66.0,
  65.4,
  76.73,
  58.71,
  75.54,
  47.26,
  30.98,
  30.3,
  21.71,
  20.0,
  24.65,
  34.36,
  24.01,
  25.53,
  43.26,
  59.62,
  63.2,
  55.25,
  54.37,
  52.99,
  40.9,
  33.31,
  52.31,
  39.73,
  32.54,
  16.0,
  35.11,
  36.58,
  40.07,
  58.15,
  44.05,
  45.15,
  42.92,
  48.39,
  49.99,
  48.3,
  48.76,
  49.13,
  54.82,
  57.17,
  61.51,
  38.31,
  30.63,
  36.42,
  53.3,
  48.56,
  29.48,
  39.6,
  47.09,
  53.55,
  41.26,
  28.3,
  38.06,
  38.84,
  35.29,
  43.37,
  33.02,
  38.92,
  36.33,
  39.61,
  47.99,
  51.03,
  63.15,
  29.87,
  25.28,
  38.0,
  45.24,
  35.44,
  50.32,
  41.96,
  43.36,
  45.1,
  41.72,
  40.65,
  29.76,
  47.69,
  35.58,
  38.61,
  36.08,
  17.99,
  10.43,
  13.34,
  13.05,
  9.25,
  14.35,
  12.82,
  17.53],
 826)

In [56]:
x_new=pd.DataFrame(l,n,['PM2.5'])
x_new

      PM2.5
0     99.25
2     71.49
4     73.29
6     56.17
8     77.11
...     ...
1732  13.05
1734   9.25
1736  14.35
1738  12.82
1740  17.53

[826 rows x 1 columns]

In [32]:
x_i=pd.DataFrame(x['PM2.5'].replace(l,None),df.index,['PM2.5'])

In [33]:
x_i

      PM2.5
0      None
1     55.64
2      None
3     75.06
4      None
...     ...
1737  16.01
1738   None
1739  14.93
1740   None
1741  16.87

[1742 rows x 1 columns]

In [39]:
def f1(x):return None if x==None else float(x)

In [40]:
x_i['PM2.5']=x_i['PM2.5'].apply(f1)

In [41]:
x_i.interpolate(limit_direction='both',inplace=True)

In [42]:
x_i

      PM2.5
0     55.64
1     55.64
2     65.35
3     75.06
4     71.08
...     ...
1737  16.01
1738  15.47
1739  14.93
1740  15.90
1741  16.87

[1742 rows x 1 columns]

In [58]:
r=pd.DataFrame(x_i[x_i.index%2==0]['PM2.5'],n,['PM2.5'])

In [62]:
r,x_new

(       PM2.5
 0     55.640
 2     65.350
 4     71.080
 6     66.795
 8     66.280
 ...      ...
 1732  13.100
 1734  11.445
 1736  13.250
 1738  15.470
 1740  15.900

 [826 rows x 1 columns],
       PM2.5
 0     99.25
 2     71.49
 4     73.29
 6     56.17
 8     77.11
 ...     ...
 1732  13.05
 1734   9.25
 1736  14.35
 1738  12.82
 1740  17.53

 [826 rows x 1 columns])

In [50]:
from sklearn.metrics import mean_squared_error

C:\Users\Aniruth\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [60]:
rmse = mean_squared_error(x_new['PM2.5'],r['PM2.5'], squared = False)

In [61]:
rmse

28.51534318180176